@import url('./fontawesome-free-5.15.1-web/css/all.css');
/* Reset CSS */
.fab {
    padding: 8px;
    font-size: 20px;
    width: 32px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    }
    .fab:hover {
    opacity: 0.6;
    }
    .fa-facebook-f {
    background: #3B5998;
    color: white;
    }
    .fa-discord {
        background: linear-gradient(to right, #7280fe, #5261e8);
        color: white;
        }
    .fa-twitter {
    background: linear-gradient(to right, #088bf6, #55ACEE);;
    color: white
    }
    .fa-google {
    background: linear-gradient(to right, #908f8f, #3a3a3a);
    color: white;
    }
    
    .fa-linkedin {
    background: #007bb5;
    color: white;
    }
    .fa-youtube {
    background:  linear-gradient(to right, #f95454, #bb0000);
    color: white;
    }
    .fa-instagram {
    background: linear-gradient(to right, #f05897, #6e47f1);
    color: white;
    }
    .fa-pinterest {
    background: #cb2027 linear-gradient(to right, #908f8f, #3a3a3a) ;
    color: white;
    }
    .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    .fa-skype {
    background: #00aff0;
    color: white;
    }
    .fa-android {
    background: #a4c639;
    color: white;
    }
    .fa-spotify{
    background: linear-gradient(to right, #bce7bc, #32cd32);;
    color: white;
    }
    .fa-github {
        background: linear-gradient(to right, #908f8f, #3a3a3a);;
        color: white;
        }
    .fa-reddit {
    background: linear-gradient(to right, #ff9966, #ff5e62);;
    color: white;
    }

    .icon-thumbnail {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    }
    .profile-img img {
        max-width: 100%;
        height: auto;
        width: 134px; /* Örnek: 150 piksel genişliğinde bir profil resmi */
        border-radius: 30%; /* Profil resminin kenarlarını yuvarlatma */
    }

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
}

h1 {
    color: #333;
}

p {
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 40px 0;
}

section h2 {
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome-content {
    text-align: center;
    max-width: 600px;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 3em;
}
a {
    color: black;
}

p {
    color: #555;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome-content {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    opacity: 0; /* İlk başta görünmez yapalım */
    animation: fadeAnimation 1.5s forwards; /* 1.5 saniyede fade-in animasyonu */
}

@keyframes fadeAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeInAnimation 1.5s forwards; /* 1.5 saniyede fade-in animasyonu */
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    color: #333;
    font-size: 3em;
}

p {
    color: #555;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}
.module-small, .module-small a {
    background-color: #ffffff !important;
    color: #666666;
}
.ornek{
width: 900px;
margin:auto;
}
.sola-kaydir{
float:left;
padding:0 10px 10px 0;
}

::selection {
    background-color: #222121; /* Mavi renk */
    color: #fff; /* Beyaz renk */
}
/* Sağdaki kaydırma çubuğu */
::-webkit-scrollbar {
    width: 4px /* Kaydırma çubuğunun genişliği */
}

/* Kaydırma çubuğu parçası */
::-webkit-scrollbar-thumb {
    background: #757171; /* Kaydırma çubuğu rengi */
}

/* Kaydırma çubuğu yuvası */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Kaydırma çubuğu yuvası rengi */
}
#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: auto;
}

.project-card {
    width: 300px;
    margin: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.project-img img {
    width: 100%;
    height: auto;
}

.project-info {
    padding: 20px;
}

.project-info h3 {
    margin-bottom: 10px;
    color: #333;
}

.project-info p {
    color: #666;
    margin-bottom: 20px;
}

.project-info a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project-info a:hover {
    background-color: #555;
}
